/**************************************
 * AppBar
 *
 * http://www.google.com/design/spec/layout/structure.html#structure-app-bar
 * http://www.google.com/design/spec/layout/structure.html#structure-toolbars
 **************************************/

.appbar {
	@include material-shadow(4);
	background: $appbar-background;
	color: $appbar-font-color;
	line-height: normal;
	min-height: $appbar-mobile-portrait-height;
	position: fixed;
	width: 100%;
	z-index: 2;
	@include flex-container(null, null, flex-start);
	justify-content: flex-start;
	padding: $appbar-padding;

	@if( $amp == false ) {
		@media only screen and (orientation: landscape) and (max-width: #{$small-screen}) {
			min-height: $appbar-mobile-landscape-height;
		}

		@media only screen and (orientation: portrait) and (max-width: #{$xsmall-screen}) {
			min-height: $appbar-mobile-portrait-height;
		}

		@media #{$small-up} {
			min-height: $appbar-large-height;
			padding: $appbar-large-padding;
		}
	}

	a, h1, h2, h3, h4, h5, h6, .material-icons, .title {
		color: $appbar-font-color;
	}

	a {
		display: block;
		position: relative;
		font-weight: 500;
		margin: $appbar-item-margin;

		@if( $amp == false ) {
			@media only screen and (orientation: landscape) and (max-width: #{$small-screen}) {
				margin: $appbar-item-margin;
			}

			@media only screen and (orientation: portrait) and (max-width: #{$xsmall-screen}) {
				margin: $appbar-item-margin;
			}

			@media #{$small-up} {
				margin: $appbar-item-margin-large;
			}
		}
	}

	.material-icons {
		margin: $appbar-item-margin;
		font-size: $appbar-icon-portrait-size;
		position: relative;
		@include square($appbar-icon-portrait-size);

		@if( $amp == false ) {
			@media only screen and (orientation: landscape) and (max-width: #{$small-screen}) {
				font-size: $appbar-icon-landscape-size;
				@include square($appbar-icon-landscape-size);
				margin: $appbar-item-margin;
			}

			@media only screen and (orientation: portrait) and (max-width: #{$xsmall-screen}) {
				font-size: $appbar-icon-portrait-size;
				@include square($appbar-icon-portrait-size);
				margin: $appbar-item-margin;
			}

			@media #{$small-up} {
				font-size: $appbar-icon-large-size;
				@include square($appbar-icon-large-size);
				margin: $appbar-item-margin-large;
			}
		}
	}

	&-spacer {
		@include flex-grow(1);
	}

	&-title {
		margin: 0 0 ($appbar-padding - $appbar-title-padding-bottom) ($appbar-title-margin-left - ($gutter + $appbar-icon-portrait-size));

		@if( $amp == false ) {
			@media only screen and (orientation: landscape) and (max-width: #{$small-screen}) {
				margin: 0 0 ($appbar-padding - $appbar-title-padding-bottom) ($appbar-title-margin-left - ($gutter + $appbar-icon-landscape-size));
			}

			@media only screen and (orientation: portrait) and (max-width: #{$xsmall-screen}) {
				margin: 0 0 ($appbar-padding - $appbar-title-padding-bottom) ($appbar-title-margin-left - ($gutter + $appbar-icon-portrait-size));
			}

			@media #{$small-up} {
				margin: 0 0 ($appbar-padding-large - $appbar-title-padding-bottom) ($drawer-small-width - ($large-gutter + $appbar-icon-large-size));
			}
		}
	}

	.search-input {
		display: none;
	}

	@if( in-array( 'badge', $appbar ) ) {
		.badge {
			@include border-radius(50%);
			background: $badge-background;
			@include material-shadow(2);
			font-size: rem-calc(10px);
			padding: rem-calc(5px);
			position: absolute;
			right: rem-calc(-10px);
			top: ($icon-size / 2) * -1;
			text-align: center;
			@include square(( rem-calc(5px) * 2 ) + rem-calc(10px));
		}
	}

	&-menu {
		top: $appbar-more-margin;
		right: $appbar-more-margin;
		left: auto;

		a {
			margin: 0;
		}
	}
}
