/**************************************
 * Bottom sheet / modal
 *
 * http://www.google.com/design/spec/components/bottom-sheets.html
 **************************************/

.bottom-sheet, .bottom-sheet-grid { @include transition(margin $transition-small-duration $standard-transition);
	@include material-shadow(16);
	background: $bottom-sheet-background;
	bottom: 0;
	display: block;
	margin: 0 auto -102% auto;
	height: auto;
	left: 0;
	overflow: inherit;
	position: fixed;
	right: 0;
	width: 100%;
	z-index: 5;

	@if( $amp == false ) {
		@media #{$medium-only} {
			@include transition(margin $transition-medium-duration $standard-transition);
			max-width: 60%;
		}

		@media #{$medium-up} {
			@include transition(margin $transition-large-duration $standard-transition);
			max-width: 40%;
			@include border-radius-top( if( $var == true, var(--border-size, $border-size), $border-size ) );
		}
	}

	.bottom-sheet-background {
		background: rgba($black, .20);
		@include square(100%);
		top: 0;
		left: 0;
		position: fixed;
		z-index: 4;
		visibility: hidden;
		@include transition(all $transition-small-duration $standard-transition);

		@if( $amp == false ) {
			@media #{$medium-only} {
				@include transition(all $transition-medium-duration $standard-transition);
			}

			@media #{$medium-up} {
				@include transition(all $transition-large-duration $standard-transition);
			}
		}
	}

	&.expanded {
		margin: 0 auto;

		~ .bottom-sheet-background {
			visibility: visible;
		}
	}
}

@if( in-array( 'bottom-sheet', $bottom-sheet ) ) {
	.bottom-sheet {
		padding: $bottom-sheet-padding;

		a {
			color: $bottom-sheet-color;
			font-size: $bottom-sheet-font-size;
			font-weight: $bottom-sheet-font-weight;
			@include transition(color $transition-small-duration $standard-transition);

			@if ($amp == false) {
				@media #{$medium-only} {
					@include transition(color $transition-medium-duration $standard-transition);
				}

				@media #{$medium-up} {
					@include transition(color $transition-large-duration $standard-transition);
				}
			}

			&:hover, &:hover .material-icons {
				color: inherit;
			}
		}

		.material-icons {
			font-size: $bottom-sheet-icon-size;
			@include square($bottom-sheet-icon-size);
			margin: $bottom-sheet-icon-margin;
			@include transition(color $transition-small-duration $standard-transition);

			@if ($amp == false) {
				@media #{$medium-only} {
					@include transition(color $transition-medium-duration $standard-transition);
				}

				@media #{$medium-up} {
					@include transition(color $transition-large-duration $standard-transition);
				}
			}
		}

		ul li {
			padding: 0;
			height: $bottom-sheet-item-height;

			&.bottom-sheet-header {
				height: $bottom-sheet-title-height;
				line-height: $bottom-sheet-title-height;
				margin-top: $bottom-sheet-padding-size * -1;
				font-size: $bottom-sheet-title-font-size;
				font-weight: $bottom-sheet-title-font-weight;
				color: $bottom-sheet-title-color;
			}

			&.divider {
				height: $divider-height;
				background: $divider-color;
				margin: (($bottom-sheet-item-height - $divider-height) / 2) ($bottom-sheet-padding-size * -1) (($bottom-sheet-item-height - $divider-height) / 2) ($bottom-sheet-padding-size * -1);
			}
		}
	}
}

@if( in-array( 'grid', $bottom-sheet ) ) {
	.bottom-sheet-grid {
		padding: $bottom-sheet-grid-padding;

		.row {
			@include justify-content(space-between);
			margin: 0 0 $large-gutter 0;

			&:last-of-type {
				margin: 0;
			}
		}

		.grid-item {
			text-align: center;
			color: $bottom-sheet-color;
			font-size: $bottom-sheet-font-size;
			font-weight: $bottom-sheet-font-weight;
			display: block;
		}

		.material-icons {
			font-size: $bottom-sheet-grid-icon-size;
			height: $bottom-sheet-grid-icon-size;
			width: 100%;
			margin: 0 0 ($gutter / 2) 0;
		}

		a {
			color: $bottom-sheet-color;
			@include transition(color $transition-small-duration $standard-transition);

			@if ($amp == false) {
				@media #{$medium-only} {
					@include transition(color $transition-medium-duration $standard-transition);
				}

				@media #{$medium-up} {
					@include transition(color $transition-large-duration $standard-transition);
				}
			}
		}

		a:hover .material-icons {
			color: inherit;
		}

		&-header {
			height: $bottom-sheet-title-height;
			line-height: $bottom-sheet-title-height;
			margin-top: $bottom-sheet-grid-padding-size * -1;
			font-size: $bottom-sheet-title-font-size;
			font-weight: $bottom-sheet-title-font-weight;
			color: $bottom-sheet-title-color;
		}

		.divider {
			height: $divider-height;
			background: $divider-color;
			margin: (($bottom-sheet-item-height - $divider-height) / 2) ($bottom-sheet-grid-padding-size * -1) (($bottom-sheet-item-height - $divider-height) / 2) ($bottom-sheet-grid-padding-size * -1);
		}
	}
}