/**************************************
 * Bottom navigation
 *
 * http://www.google.com/design/spec/components/bottom-navigation.html
 **************************************/

.bottom-nav, .bottom-shifting {
	background: $bottom-nav-background;
	bottom: 0;
	left: 0;
	position: fixed;
	@include material-shadow(8);
	width: 100%;
	margin: 0 0 -102% 0;
	@include flex-container(null, null, space-between);
	@include transition(margin $transition-small-duration $standard-transition);

	@if( $amp == false ) {
		@media #{$small-up} {
			left: $drawer-small-width;
			width: calc(100% - #{$drawer-small-width});
		}

		@media #{$medium-only} {
			@include transition(margin $transition-medium-duration $standard-transition);
		}

		@media #{$medium-up} {
			@include transition(margin $transition-large-duration $standard-transition);
		}
	}

	.material-icons {
		@include transition(color $transition-small-duration $standard-transition);

		@if( $amp == false ) {
			@media #{$medium-only} {
				@include transition(color $transition-medium-duration $standard-transition);
			}

			@media #{$medium-up} {
				@include transition(color $transition-large-duration $standard-transition);
			}
		}
	}

	&.expanded {
		margin: 0;
	}

	a {
		color: $bottom-nav-off-color;
		display: block;
		line-height: normal;
		text-align: center;

		&:hover, &:hover .material-icons {
			color: $bottom-nav-on-color;
		}

		&.active {
			color: $bottom-nav-on-color;

			.material-icons {
				color: $bottom-nav-on-color;
			}
		}
	}
}

@if( in-array( 'bottom-nav', $bottom-nav ) ) {
	.bottom-nav a {
		font-size: $bottom-nav-font-size;
		height: $bottom-nav-height;
		max-width: $bottom-nav-max-width;
		min-width: $bottom-nav-min-width;
		padding: $bottom-nav-padding;

		@if( $amp == false ) {
			@media #{$medium-up} {
				min-width: $bottom-nav-min-width-large;
			}
		}

		.material-icons {
			font-size: $bottom-nav-icon-size;
			@include square($bottom-nav-icon-size);
		}

		&.active {
			font-size: $bottom-nav-font-size-active;
			padding: $bottom-nav-padding-active;
		}
	}
}

@if( in-array( 'bottom-shifting', $bottom-nav ) ) {
	.bottom-shifting a {
		height: $bottom-nav-height;
		max-width: $bottom-shifting-max-width;
		min-width: $bottom-shifting-min-width;
		padding: $bottom-shifting-padding;

		.material-icons {
			font-size: $bottom-nav-icon-size;
			@include square($bottom-nav-icon-size);
		}

		.content {
			display: none;
		}

		&.active {
			font-size: $bottom-nav-font-size-active;
			max-width: $bottom-shifting-max-width-active;
			min-width: $bottom-shifting-min-width-active;
			padding: $bottom-shifting-padding-active;

			.content {
				display: block;
				margin: $bottom-shifting-content-margin;
			}
		}
	}
}