/**************************************
 * Cards
 *
 * http://www.google.com/design/spec/components/cards.html#cards-usage
 **************************************/

.card {
	@include material-shadow(2);
	@include border-radius(if( $var == true, var(--border-size, $border-size), $border-size ) );
	width: 100%;
	padding: 0;
	position: relative;
	@include transition(box-shadow $transition-small-duration $standard-transition);
	background: $card-background;

	&:hover {
		@include material-shadow(8);
	}

	@if( $amp == false ) {
		@media #{$medium-only} {
			@include transition(box-shadow $transition-medium-duration $standard-transition);
		}

		@media #{$medium-up} {
			@include transition(box-shadow $transition-large-duration $standard-transition);
			@include material-shadow(0);
		}
	}

	&-actions {
		padding: $card-actions-padding;

		> * {
			margin: 0 $card-actions-padding ($card-actions-padding / 2) 0;

			&:last-of-type {
				margin: 0 0 ($card-actions-padding / 2) 0;
			}
		}
	}

	&-primary {
		padding-left: $gutter;
		padding-right: $gutter;
		padding-top: $large-gutter;
		padding-bottom: $large-gutter;
		font-size: $card-primary-font-size;

		&-small {
			font-size: $card-primary-small-font-size;
			padding-top: $gutter;
		}

		&-additional {
			padding-bottom: $gutter;
		}

		#{$medium-up} {
			padding: $gutter $large-gutter;
		}

		.subhead-1 {
			font-size: $card-subhead-font-size;
			color: $card-subhead-font-color;
			font-weight: 400;
		}
	}

	&-supporting {
		font-size: $card-supporting-font-size;
		padding-top: $gutter;
		padding-left: $gutter;
		padding-right: $gutter;
		padding-bottom: $large-gutter;

		&-additional {
			padding-bottom: $gutter;
		}

		@media #{$medium-up} {
			padding-left: $large-gutter;
			padding-right: $large-gutter;
		}
	}

	img {
		width: 100%;

		&.card-top {
			@include border-radius-top( if( $var == true, var(--border-size, $border-size), $border-size ) );
		}

		&.card-background {
			@include border-radius( if( $var == true, var(--border-size, $border-size), $border-size ) );
			height: 100%;
		}

		&.card-avatar {
			float: left;
			@include border-radius(50%);
			margin: $gutter;
			@include square( rem-calc(72px) - ($gutter * 2 ) );
		}
	}

	.card-content {
		@include border-radius-bottom( if( $var == true, var(--border-size, $border-size), $border-size ) );
		background: rgba($black, .54);
		position: absolute;
		bottom: 0;
		width: 100%;

		div {
			color: $white;
		}
	}
}