/**************************************
 * Tables
 *
 * http://www.google.com/design/spec/components/data-tables.html
 **************************************/

table {
	border-collapse: collapse;
	white-space: nowrap;
	display: table;
	width: 100%;

	.numeric-col {
		text-align: right;
		padding-left: $table-column-padding;
		padding-right: 0;
	}

	.checkbox-col {
		padding: 0 $table-first-column-padding;

		.checkbox + label {
			padding: 0;
		}
	}

	&.table-hover {
		tbody tr {
			@include transition(background .2s ease-in-out);

			&:hover {
				background: if( $theme == light, $grey-200, $grey-700);
			}
		}
	}
}

thead th {
	color: $table-header-font-color;
	font-size: $table-header-font-size;
	font-weight: 500;
	height: $table-header-size;
	line-height: $table-header-size;

	&:hover {
		background: none;
	}

	a, .sorted {
		color: $table-header-font-color;

		.material-icons {
			color: $table-header-font-color;
		}

		&:hover {
			color: if($theme == light, $black, $white);

			.material-icons {
				color: if($theme == light, $black, $white);
			}
		}
	}
}

td {
	color: $table-content-font-color;
	font-size: $table-content-font-size;
	font-weight: 400;
	height: $table-content-size;
	line-height: $table-content-size;
}

td, th {
	text-align: left;
	@include box-sizing(border-box);
	padding-right: $table-column-padding;

	&:first-of-type {
		padding-left: $table-first-column-padding;
	}

	&:last-of-type {
		padding-right: $table-first-column-padding;
	}
}

.table-responsive {
	overflow-x: scroll;
}