/* === Roboto - 100 */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: url("./../../../../public/fonts/Roboto-Thin.eot");
	src: local("Roboto Thin"),
		local("Roboto-Thin"),
		url("./../../../../public/fonts/Roboto-Thin.eot") format("embedded-opentype"),
		url("./../../../../public/fonts/Roboto-Thin.woff2") format("woff2"),
		url("./../../../../public/fonts/Roboto-Thin.woff") format("woff"),
		url("./../../../../public/fonts/Roboto-Thin.ttf") format("truetype"),
		url("./../../../../public/fonts/Roboto-Thin.svg") format("svg");
}

/* === Roboto - 300 */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url("./../../../../public/fonts/Roboto-Light.eot");
	src: local("Roboto Light"),
		local("Roboto-Light"),
		url("./../../../../public/fonts/Roboto-Light.eot") format("embedded-opentype"),
		url("./../../../../public/fonts/Roboto-Light.woff2") format("woff2"),
		url("./../../../../public/fonts/Roboto-Light.woff") format("woff"),
		url("./../../../../public/fonts/Roboto-Light.ttf") format("truetype"),
		url("./../../../../public/fonts/Roboto-Light.svg") format("svg");
}

/* === Roboto - 500 */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url("./../../../../public/fonts/Roboto-Medium.eot");
	src: local("Roboto Medium"),
		local("Roboto-Medium"),
		url("./../../../../public/fonts/Roboto-Medium.eot") format("embedded-opentype"),
		url("./../../../../public/fonts/Roboto-Medium.woff2") format("woff2"),
		url("./../../../../public/fonts/Roboto-Medium.woff") format("woff"),
		url("./../../../../public/fonts/Roboto-Medium.ttf") format("truetype"),
		url("./../../../../public/fonts/Roboto-Medium.svg") format("svg");
}

/* === Roboto - 700 */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url("./../../../../public/fonts/Roboto-Bold.eot");
	src: local("Roboto Bold"),
		local("Roboto-Bold"),
		url("./../../../../public/fonts/Roboto-Bold.eot") format("embedded-opentype"),
		url("./../../../../public/fonts/Roboto-Bold.woff2") format("woff2"),
		url("./../../../../public/fonts/Roboto-Bold.woff") format("woff"),
		url("./../../../../public/fonts/Roboto-Bold.ttf") format("truetype"),
		url("./../../../../public/fonts/Roboto-Bold.svg") format("svg");
}

/* === Roboto - 900 */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: url("./../../../../public/fonts/Roboto-Black.eot");
	src: local("Roboto Black"),
		local("Roboto-Black"),
		url("./../../../../public/fonts/Roboto-Black.eot") format("embedded-opentype"),
		url("./../../../../public/fonts/Roboto-Black.woff2") format("woff2"),
		url("./../../../../public/fonts/Roboto-Black.woff") format("woff"),
		url("./../../../../public/fonts/Roboto-Black.ttf") format("truetype"),
		url("./../../../../public/fonts/Roboto-Black.svg") format("svg");
}

/* === Roboto - 100italic */
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 100;
	src: url("./../../../../public/fonts/Roboto-ThinItalic.eot");
	src: local("Roboto Thin Italic"),
		local("Roboto-ThinItalic"),
		url("./../../../../public/fonts/Roboto-ThinItalic.eot") format("embedded-opentype"),
		url("./../../../../public/fonts/Roboto-ThinItalic.woff2") format("woff2"),
		url("./../../../../public/fonts/Roboto-ThinItalic.woff") format("woff"),
		url("./../../../../public/fonts/Roboto-ThinItalic.ttf") format("truetype"),
		url("./../../../../public/fonts/Roboto-ThinItalic.svg") format("svg");
}

/* === Roboto - 300italic */
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	src: url("./../../../../public/fonts/Roboto-LightItalic.eot");
	src: local("Roboto Light Italic"),
		local("Roboto-LightItalic"),
		url("./../../../../public/fonts/Roboto-LightItalic.eot") format("embedded-opentype"),
		url("./../../../../public/fonts/Roboto-LightItalic.woff2") format("woff2"),
		url("./../../../../public/fonts/Roboto-LightItalic.woff") format("woff"),
		url("./../../../../public/fonts/Roboto-LightItalic.ttf") format("truetype"),
		url("./../../../../public/fonts/Roboto-LightItalic.svg") format("svg");
}

/* === Roboto - regular */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url("./../../../../public/fonts/Roboto-Regular.eot");
	src: local("Roboto"),
		local("Roboto-Regular"),
		url("./../../../../public/fonts/Roboto-Regular.eot") format("embedded-opentype"),
		url("./../../../../public/fonts/Roboto-Regular.woff2") format("woff2"),
		url("./../../../../public/fonts/Roboto-Regular.woff") format("woff"),
		url("./../../../../public/fonts/Roboto-Regular.ttf") format("truetype"),
		url("./../../../../public/fonts/Roboto-Regular.svg") format("svg");
}

/* === Roboto - italic */
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: url("./../../../../public/fonts/Roboto-Italic.eot");
	src: local("Roboto Italic"),
		local("Roboto-Italic"),
		url("./../../../../public/fonts/Roboto-Italic.eot") format("embedded-opentype"),
		url("./../../../../public/fonts/Roboto-Italic.woff2") format("woff2"),
		url("./../../../../public/fonts/Roboto-Italic.woff") format("woff"),
		url("./../../../../public/fonts/Roboto-Italic.ttf") format("truetype"),
		url("./../../../../public/fonts/Roboto-Italic.svg") format("svg");
}

/* === Roboto - 500italic */
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;
	src: url("./../../../../public/fonts/Roboto-MediumItalic.eot");
	src: local("Roboto Medium Italic"),
		local("Roboto-MediumItalic"),
		url("./../../../../public/fonts/Roboto-MediumItalic.eot") format("embedded-opentype"),
		url("./../../../../public/fonts/Roboto-MediumItalic.woff2") format("woff2"),
		url("./../../../../public/fonts/Roboto-MediumItalic.woff") format("woff"),
		url("./../../../../public/fonts/Roboto-MediumItalic.ttf") format("truetype"),
		url("./../../../../public/fonts/Roboto-MediumItalic.svg") format("svg");
}

/* === Roboto - 700italic */
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src: url("./../../../../public/fonts/Roboto-BoldItalic.eot");
	src: local("Roboto Bold Italic"),
		local("Roboto-BoldItalic"),
		url("./../../../../public/fonts/Roboto-BoldItalic.eot") format("embedded-opentype"),
		url("./../../../../public/fonts/Roboto-BoldItalic.woff2") format("woff2"),
		url("./../../../../public/fonts/Roboto-BoldItalic.woff") format("woff"),
		url("./../../../../public/fonts/Roboto-BoldItalic.ttf") format("truetype"),
		url("./../../../../public/fonts/Roboto-BoldItalic.svg") format("svg");
}

/* === Roboto - 900italic */
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 900;
	src: url("./../../../../public/fonts/Roboto-BlackItalic.eot");
	src: local("Roboto Black Italic"),
		local("Roboto-BlackItalic"),
		url("./../../../../public/fonts/Roboto-BlackItalic.eot") format("embedded-opentype"),
		url("./../../../../public/fonts/Roboto-BlackItalic.woff2") format("woff2"),
		url("./../../../../public/fonts/Roboto-BlackItalic.woff") format("woff"),
		url("./../../../../public/fonts/Roboto-BlackItalic.ttf") format("truetype"),
		url("./../../../../public/fonts/Roboto-BlackItalic.svg") format("svg");
}
