/**************************************
 * Icons
 *
 * http://www.google.com/design/spec/style/icons.html
 * https://design.google.com/icons/
 **************************************/

.material-icons {
	font-size: $icon-size;
	@include square($icon-size);
	color: if( $theme == light, rgba($black, .38), rgba($white, .5));

	&:active, &.active {
		color: if( $theme == light, rgba($black, .87), rgba($white, 1));
	}

	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';

	@each $icon in $icons {
		&.size-#{$icon} {
			font-size: rem-calc($icon + 0px);
			@include square(rem-calc($icon + 0px));
		}
	}
}